.g-container {
  margin: 0 auto;
  max-width: var(--site-max-width);
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
